# Dependencies and logs
/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Environment configuration
.env
.env.backup
.env.production
.phpactor.json
auth.json

# Laravel specific files
bootstrap/compiled.php
app/storage/

# Laravel 5 and Lumen specific files
public/storage
public/hot
public_html/storage
public_html/hot
storage/*.key
storage/pail

# Testing files
.phpunit.result.cache
.phpunit.cache

# Homestead and Vagrant files
Homestead.yaml
Homestead.json
/.vagrant

# Build and IDE-specific files
/public/build
/.fleet
/.idea
/.nova
/.vscode
/.zed
