includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app
        - database/factories
        - database/seeders

    # Rule level (0 is the loosest and 9 is the strictest)
    level: 5

    ignoreErrors:
        # Propiedades dinámicas de Eloquent (comunes en Laravel)
        - '#Access to an undefined property.*\$id#'
        - '#Access to an undefined property.*\$created_at#'
        - '#Access to an undefined property.*\$updated_at#'
        - '#Access to an undefined property.*\$deleted_at#'
        - '#Access to an undefined property.*\$permissions#'
        # Problemas de PHPDoc con fillable (compatibilidad con Laravel)
        - '#PHPDoc type array<int, string>.*\$fillable.*list<string>#'
        # Problemas menores de tipos en traits y servicios
        - '#Call to an undefined method.*onlyTrashed\(\)#'

    excludePaths:
        - ./*/*/FileToIgnore.php
