APP_NAME=DamblixAPI
APP_ENV=dev
APP_KEY=
APP_DEBUG=true
APP_URL=https://apygg.dev.wakuwakuamiguito.com
APP_TIMEZONE=America/Lima
OCTANE_SERVER=frankenphp

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=apygg
DB_USERNAME=apygg
DB_PASSWORD=secret

DB_LOGS_CONNECTION=pgsql
DB_LOGS_HOST=postgres_logs
DB_LOGS_PORT=5432
DB_LOGS_DATABASE=apygg_logs
DB_LOGS_USERNAME=apygg_logs
DB_LOGS_PASSWORD=secret_logs

REDIS_CLIENT=phpredis
REDIS_HOST=redis
REDIS_PORT=6379
QUEUE_CONNECTION=redis
CACHE_STORE=redis

# Broadcasting con Reverb
BROADCAST_CONNECTION=reverb
REVERB_APP_ID=local-app
REVERB_APP_KEY=
REVERB_APP_SECRET=
REVERB_SERVER_HOST=0.0.0.0
REVERB_SERVER_PORT=8080
# host público detrás de Nginx:
REVERB_HOST=apygg.dev.wakuwakuamiguito.com
REVERB_PORT=443
# REVERB_SCHEME=wss

# Scout + Meilisearch (contenedor)
SCOUT_DRIVER=meilisearch
MEILISEARCH_HOST=http://meilisearch:7700
MEILISEARCH_KEY=masterKey
SCOUT_QUEUE=true

# Archivos (dev local)
FILESYSTEM_DISK=local

# JWT
JWT_TTL=15
JWT_SECRET=
JWT_ALGO=HS256
JWT_REFRESH_TTL=10080
JWT_BLACKLIST_ENABLED=true
JWT_BLACKLIST_GRACE=30


# Socialite (rellenar al probar)
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=${APP_URL}/auth/google/callback

FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=
FACEBOOK_REDIRECT_URI=${APP_URL}/auth/facebook/callback

# Sentry
SENTRY_LARAVEL_DSN=
SENTRY_TRACES_SAMPLE_RATE=0.2
SENTRY_PROFILES_SAMPLE_RATE=0.0

TELESCOPE_ENABLED=true

# CORS Configuration
CORS_ALLOWED_ORIGINS=https://damblix-app.dev.wakuwakuamiguito.com,https://apygg.dev.wakuwakuamiguito.com

# Password Hashing
HASH_DRIVER=argon2id
ARGON_MEMORY=65536
ARGON_TIME=5
ARGON_THREADS=3
BCRYPT_ROUNDS=12
