APP_NAME=DamblixAPI
APP_ENV=staging
APP_KEY=
APP_DEBUG=false
APP_URL=https://apygg.staging.midominio.com
APP_TIMEZONE=America/Lima
OCTANE_SERVER=frankenphp
LOG_CHANNEL=stack
LOG_LEVEL=info

DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=apygg
DB_USERNAME=apygg
DB_PASSWORD=secret

REDIS_CLIENT=phpredis
REDIS_HOST=redis
REDIS_PORT=6379
QUEUE_CONNECTION=redis
CACHE_STORE=redis

BROADCAST_CONNECTION=reverb
REVERB_APP_ID=staging-app
REVERB_APP_KEY=
REVERB_APP_SECRET=
REVERB_SERVER_HOST=0.0.0.0
REVERB_SERVER_PORT=8080
REVERB_HOST=apygg.staging.midominio.com
REVERB_PORT=443

SCOUT_DRIVER=meilisearch
MEILISEARCH_HOST=http://meilisearch:7700
MEILISEARCH_KEY=masterKey
SCOUT_QUEUE=true

FILESYSTEM_DISK=local

JWT_TTL=10080
JWT_SECRET=
JWT_ALGO=HS256

SENTRY_LARAVEL_DSN=
SENTRY_TRACES_SAMPLE_RATE=0.2
SENTRY_PROFILES_SAMPLE_RATE=0.0
